.yeey{
    text-align: center;
}
.box{
    border: 10px solid lightslategrey;
    border-radius: 15px;
    margin: 200px 80px 30px 170px;
    width: 450px;
    display: inline-block;
    text-align: center;
}
#main{
    color: aliceblue;
    background-color: crimson;
    font-size: 70px;
}
.box2{
    border: 10px solid lightslategray;
    border-radius: 50px;
    margin: 40px;
    text-align: center;
    width: 400px;
    display: inline-block;
    
}
.write{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.big{
    font-size: 70px;
}
#k1{
    font-size: 70px;
    background-color: rgb(248, 244, 6);
    
}
#k2{
    font-size: 70px;
    background-color: rgb(0, 255, 221);